
        <h1> Welcome to Mercury! </h1>
        <p>Click on a planet below to visit it:</p>
    
            <a href="/venus">Venus</a> <br>
            Earth <br><br>
            
            <img src="/img/mercury.png" width=300 alt="Planet Mercury"/>
    