<h1> Welcome to Earth! </h1>
<% include partials/header.ejs %>
<img src="/img/earth.jpg" width=200 alt="Planet Earth"/>
<h3>Fun facts about Earth:</h3>
<ul>
    <li>So far, the Earth is the only planet we are aware of that is inhabited by living organisms.</li>
    <li>Earth is the third planet from the Sun.</li>
    <li>It is the fifth largest planet in our solar system.</li>
    <li>Earth was the only planet not named after a Greek or Roman god/goddess. It is a Germanic word that means “the ground”.</li>
</ul>
<p>Click here to go back <a href="/">Home</a></p>
<% include partials/footer.ejs %>