<h1> Welcome to Jupiter! </h1>
<% include partials/header.ejs %>
<img src="/img/jupiter.png" width=200 alt="Planet Jupiter"/>
<h3>Fun facts about Jupiter:</h3>
<ul>
    <li>Jupiter is the third planet from the sun.</li>
    <li>It is also the largest planet in our solar system, being twice as large as all other planets collectively.</li>
    <li>Clouds of ammonia and water float in Jupiter’s environment of hydrogen and helium.</li>
    <li>Jupiter is known for its storm, the Great Red Spot that is bigger than the size of Earth and has been active for hundreds of years.</li>
</ul>
<p>Click here to go back <a href="/">Home</a></p>
<% include partials/footer.ejs %>