<h1> Welcome to Mars! </h1>
<% include partials/header.ejs %>
<img src="/img/mars.jpg" width=200 alt="Planet Mars"/>
<h3>Fun facts about Mars:</h3>
<ul>
    <li>Mars is the fourth planet from the sun.</li>
    <li>Its atmosphere is thin, dusty, and cold like a desert which supposedly used to be much wetter, warmer, and thicker.</li>
    <li>This planet witnesses weather seasons and even has old volcanoes and canyons.</li>
    <li>Mars is one of the most explored planets in our solar system.</li>
</ul>
<p>Click here to go back <a href="/">Home</a></p>
<% include partials/footer.ejs %>