<h1> Welcome to Mercury! </h1>
<% include partials/header.ejs %>
<img src="/img/mercury.png" width=300 alt="Planet Mercury"/>
<h3>Fun facts about Mercury:</h3>
<ul>
    <li>Mercury is only slightly larger than the Earth’s moon, making it the smallest planet in our solar system.</li>
    <li>It is the planet closest to the sun.</li>
    <li>The sun looks three times as large on Mercury compared to the perspective on Earth.</li>
    <li>Sunlight is seven times brighter on Mercury than it is on Earth.</li>
</ul>
<p>Click here to go back <a href="/">Home</a></p>
<% include partials/footer.ejs %>