<h1> Welcome to Venus! </h1>
<% include partials/header.ejs %>
<img src="/img/venus.jpg" width=200 alt="Planet Venus"/>
<h3>Fun facts about Venus:</h3>
<ul>
    <li>Venus is the second planet from the sun.</li>
    <li>Venus spins slowly in the opposite direction of most planets.</li>
    <li>Its atmosphere is very thick and acts as a greenhouse, trapping so much heat that it is the hottest planet in our solar system.</li>
    <li>Venus’ temperatures are hot enough to melt lead.</li>
</ul>
<p>Click here to go back <a href="/">Home</a></p>
<% include partials/footer.ejs %>